* {
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 100%;
	color: #555	;
	line-height: 1;
}

p {
    line-height: 1.6;
}

.container {
	margin: 0 auto;
	width: 80%;
	max-width: 1500px;
}

.clearfix {
	overflow: hidden;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.navigation {
    clear: both;
}

.navigation .logo {
	float: left;
	margin-right: 1rem;
	display: block;
	font-size: 2rem;
	line-height: 1.4;
}

.nav-list {
	padding: 0;
	margin: 0;
	float: right;
	margin-top: .4rem;
}

.nav-list .nav-item {
	float: left;
	list-style-type: none;
}

.nav-list .nav-item a,
.nav-list .nav-item a:link,
.nav-list .nav-item a:visited {
	text-decoration: none;
	display: block;
	padding: .6rem;
	color: #a638c7;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}

.nav-list .nav-item a:after {
	content: "";
	display: block;
	height: 2px;
    background: #a638c7;
    background: currentColor;
	width: 0;
	margin-top: .4rem;
	transition: .2s ease;
}

.nav-list .nav-item a:hover:after,
.nav-list .nav-item .active:after {
	width: 100%;
	transition: .2s ease;
}

#header {
	height: 500px;
	color: #fff;
	background: #c27ed6;
	background: url(../images/header.jpg) center;
	background-size: cover;
}

#header #header_container {
    max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding-top: 160px;
	text-shadow: 0 0 6px #333;
}

#heading {
	color: #fff;
	text-transform: uppercase;
	font-size: 3rem;
}

#slogan {
	font-weight: normal;
	font-size: 2rem;
}

#about_text {
    width: 60%;
    padding-right: 2rem;
    float: left;
}

#about_image_container {
    width: 40%;
    float: right;
}

#about_image {
    width: 100%;
}

#footer {
	clear: both;
	margin-top: 2rem;
	color: #fff;
	background: #333;
	padding: 2rem 0;
	line-height: 1.6;
}

#copyright {
	width: 50%;
	float: left;
	margin: 0;
}

#social-icons {
	width: 50%;
	float: right;
	text-align: right;
}

#social-icons a {
	margin-left: .5rem;
}

.display-none {
    display: none;
}

.col-3 {
	width: 32%;
	box-sizing: border-box;
	text-align: center;
}

.col-3 img {
	width: 100%;
	height: 220px;
	object-fit: cover;
}

#settings {
	overflow: auto;
    background: #fff;
    color: #333;
    padding: 1.5rem;
    position: fixed;
	top: 100px;
	bottom: 50px;
    right: -600px;
    width: 400px;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
	box-shadow: 0 0 6px 4px rgba(119, 119, 119, .5);
	z-index: 990;
	transition: .3s ease;
}

#settings_icon {
	height: 60px;
	width: 60px;
	background-color: #fff;
	position: fixed;
	top: 40px;
	right: 0;
	padding: .5rem;
	border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
	z-index: 999;
	cursor: pointer;
}

#settings.show-settings {
	right: 0;
	transition: .3s ease;
}

#settings_icon img {
	width: 100%;
	height: 100%;
}

#settings_error {
	position: sticky;
	top: -1.5rem;
	padding: .2rem;
	color: #f00;
	background: #fff;
}

#settings input[type="text"] {
    outline: none;
    border: 0;
    background: #eee;
    width: 100%;
    padding: .4rem;
    margin: .5rem 0;
}

textarea {
	font-family: 'Lato', sans-serif;
	margin: .5rem 0;
	width: 100%;
}