#gallery-header {
	background: url(../images/gallery-header.jpg) center no-repeat;
	background-size: cover;
	height: 260px;
	margin-bottom: 40px;
}

#gallery {
	display: flex;
	justify-content: space-around;
	flex-flow: wrap row;
}

.gallery-item {
    position: relative;
    margin-bottom: 1rem;
}

.caption {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    color: #fff;
}